<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <title>chatPDF</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

<body>
  <main class="container main-page">
    <div id="top-bar">
      <div class="logo">chatPDF</div>
      <a class="top-bar-item" href="/home"><button>Go Back</button></a>
    </div>
    <div id="chat-box">
      <div>
        <% if (error && error.length>0) {%>
          <p style="color:red;">
            <%= error %>
          </p>
          <% } %>
      </div>
      <div>
        <h2>Create Index</h2>
        <form class='index-form' action="/createStore" method="POST" enctype="multipart/form-data">
          <input type="file" name="doc" required></input>
          <br><label for="docname">Document Name</label>
          <input id="docname" type="text" name="docname" size="9" required
            title="Please enter a 3 to 5 character string with letters and numbers only"
            pattern="^[a-zA-Z0-9]{3,5}$"></input><br>
          <button type="submit">Upload Document</button>
        </form>
      </div>
      <div>
        <h2>Delete Index</h2>
        <% if (indices && indices.length> 1) { %>
          <form action="/deleteStore" method="POST">
            <label for="index">Index: </label>
            <select name="index">
              <% indices.forEach((item)=> { %>
                <option value="<%= item %>">
                  <%= item %>
                </option>
                <% }) %>
            </select>
            <button type="submit">Delete</button>
          </form>
          <% } else { %>
            <form action="/getIndices" method="POST">
              <button type="submit">Get Documents</button>
            </form>
            <% } %>
      </div>
    </div>
  </main>
</body>

</html>
