<h1>Welcome</h1>
<% if (currentFile.length > 0) {%>
  <p> Current File: <%= currentFile %> </p>
<% } %>

<% if (error.length > 0) {%>
  <p style="color:red;"> <%= error %> </p>
<% } %>

<form action="/pdfupload" method="POST" enctype="multipart/form-data">
  <input type="file" name="doc" required>
  <button type="submit">Upload PDF</button>
    <% if (status.length > 0) { %>
    <p> <%= status %> </p>
    <% } %>
</form>
<form action="/embeddingscreate" method="POST">
  <button type="submit">Create Embeddings</button>
</form>
<form action="/query" method="POST">
  <textarea name="query" rows="4" cols="30">
  </textarea>
  <button type="submit">Query</button>
</form>

<% if (response.length > 0) {%>
  <p style="color:green;"> <%= response %> </p>
<% } %>
