<h1>Welcome</h1>
<form action="/" method="POST" enctype="multipart/form-data">
  <input type="file" name="doc" required>
  <button type="submit">Submit</button>
    <% if (status.length > 0) { %>
    <p style="color: red;"> <%= status %> </p>
    <% } %>
</form>
<form action="/" method="POST">
