<!DOCTYPE html>
<html lang="en">
  <head>
    <title>chatPDF new</title>
    <link rel="stylesheet" type="text/css" href="/css/pico.min.css">
  </head>
  <body>
    <main class="container"> 
      <div class="top-bar"> 
        <h1>chatPDF</h1>
        <form action="/setIndex" method="POST">
          <label for="index">Index: </label>
          <select name="index">
            <option value="test1">test1</option>
            <option value="test2">test2</option>
            <option value="test3">test3</option>
          </select>
        </form>
        <form action="/goUpload" method="GET">
          <button>Upload New Document</button>
        </form>
      </div>
      <div class="chat-box"> </div>
      <div class="query-box"> </div>
    </main>
  </body>
</html>

