<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <title>chatPDF</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <main class="container main-page">
    <div class="top-bar">
      <div class="logo">chatPDF</div>
      <a class="top-bar-item" href="/home"><button>Go Back</button></a>
    </div>
    <div class="chat-box">
      <div>
        <% if (error && error.length>0) {%>
          <p style="color:red;">
            <%= error %>
          </p>
          <% } %>
      </div>
      <form action="/createStore" method="POST" enctype="multipart/form-data">
        <input type="file" name="doc" required></input>
        <label for="docname">Doc Name</label>
        <input id="docname" type="text" name="docname" required></input>
        <button type="submit">Create Store</button>
      </form>
      <!--
      <form action="/pdfupload" method="POST" enctype="multipart/form-data">
        <input type="file" name="doc" required>
        <button type="submit">Upload PDF</button>
      </form>
      -->
    </div>
  </main>
</body>

</html>
