:root {
  font-size: 18px;
  --border-theme: 3px solid black;
}

input, form, label {
  font-size: 18px;
}

button, select {
  font-size: 15px;
}
.container {
  margin: 0% auto;
  height: 95vh;
  width: 80%;
  display: grid;
  /*padding: 0px 10px;*/
  grid-template-areas:
  "top-bar top-bar top-bar"
  "chat-box chat-box chat-box"
  "query-box query-box query-box";
  grid-template-rows: 46px 1fr 110px;
  border: var(--border-theme);
  border-radius: 5px;
}

.top-bar {
  border-bottom: var(--border-theme);
  grid-area: top-bar;
  position: relative;
  display: flex;
  flex-direction: row;
}

.top-bar > * {
  padding-left: 10px;
  padding-right: 10px;
}

.top-bar > .top-bar-item {
  padding-top: 10px;
  border-left: var(--border-theme);
}

.logo {
  display: inline;
  font-size: 2.5em;
  font-weight: bold;
  flex-grow: 3;
}

.chat-box { 
  /*
  border: blue;
  border-style: solid;
  */
  padding: 0px 10px;
  grid-area: chat-box;
  overflow: scroll;
}

.query-box {
  border-top: var(--border-theme);
  padding-top: 10px;
  grid-area: query-box;
}

.query-box form {
  padding: 0px 10px;
  display: flex;
  gap:10px;
  flex-direction: row;
  height:90px
}

#query-input {
  flex-grow: 4;
  resize: none;
}

.user-color {
  color: blue;
}

.chat-color {
  color: red;
}
