:root {
  font-size: 18px;
}

input, form, label {
  font-size: 18px;
}

button, select {
  font-size: 15px;
}
.container {
  margin: 0% auto;
  height: 95vh;
  width: 80%;
  display: grid;
  grid-template-areas:
  "top-bar top-bar top-bar"
  "chat-box chat-box chat-box"
  "query-box query-box query-box";
  grid-template-rows: 45px 1fr 100px;
}

.top-bar {
  border: green;
  border-style: solid;
  grid-area: top-bar;
  position: relative;
}

.logo {
  display: inline;
  font-size: 2.5em;
  font-weight: bold;
}

.doc-bar {
  border: aqua;
  border-style: solid;
  display: inline;
  height: 25px;
  position: absolute;
  bottom:0;
  right:0;
}

.doc-bar form {
  display: inline;
}

.chat-box {
  border: blue;
  border-style: solid;
  grid-area: chat-box;
  overflow: scroll;
}

.query-box {
  border: red;
  border-style: solid;
  grid-area: query-box;
}

.query-box form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height:90px
}

#query-input {
  flex-grow: 4;
  resize: none;
}
