<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <title>chatPDF</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  </head>

<body>
  <main class="container main-page">
    <div id="top-bar">
      <div class="logo">chatPDF</div>
      <a class="top-bar-item" href="/home"><button>Go Back</button></a>
    </div>
    <div id="chat-box">
      <div>
        <% if (error && error.length>0) {%>
          <p style="color:red;">
            <%= error %>
          </p>
          <% } %>
      </div>
      <div>
        <h2>Create Index</h2>
        <form class='index-form' action="/createDocument" method="POST" enctype="multipart/form-data">
          <input type="file" name="doc" required></input>
          <br><label for="docname">Document Name</label>
          <input id="docname" type="text" name="docname" size="9" required
            title="Please enter a 3 to 5 character string with letters and numbers only"
            pattern="^[a-zA-Z0-9]{3,5}$"></input><br>
          <button type="submit">Upload Document</button>
        </form>
      </div>
      <div>
        <h2>Delete Index</h2>
        <% if (documents && documents.length> 1) { %>
          <form style="display:inline;" action="/deleteDocument" method="POST">
            <label for="document">Document: </label>
            <select name="document">
              <% documents.forEach((item)=> { %>
                <option value="<%= item %>">
                  <%= item %>
                </option>
                <% }) %>
            </select>
            <button type="submit">Delete</button>
          </form>
          <form style="display:inline; padding-left:5px;"action="/getDocuments" method="POST">
            <button type="submit"><i class="bi bi-arrow-clockwise"></i></button>
          </form>
          <% } else { %>
            <form action="/getDocuments" method="POST">
              <button type="submit">Get Documents</button>
            </form>
            <% } %>
      </div>
    </div>
  </main>
</body>

</html>
